.container {
  padding-left: 20px;
  padding-right: 20px;
}

.event-image {
  height: 100px;
  background-color: whitesmoke;
}

.add-session {
  margin-bottom: 16px;

  a {
    cursor: pointer;
  }

  &__header {
    margin: 0;
  }

  &__link {
    text-align: right;
  }
}
