.thumbnail {
  min-height: 210px;
}

.pad-left {
  padding-left: 8px;
}

.well div {
  color: #bbb;
}

.green {
  color: #8ee48e !important;
}

.red {
  color: #e088be !important;
}

.bold {
  font-weight: bold;
}
